.container{

margin-left:15%;
margin-right:10%;
padding-top:5.6px;
width: 2600px;
}
.dev{
list-style-type:disc;
display:list-item;
}
.header{
width:100%;
background-color:#FFFFFF;
padding-top:10px;
border-top:5px solid #447dae;
border-bottom:8px solid #447dae;	
}
.menu{
padding-right:50px;
padding-top:50px;
}
.brand{
color:#990000;
font-size:36px;
font-weight:900;
}
.home{
	text-decoration:none;
	color:#000000;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: bottom;
	word-spacing: 13px;
}

a{
text-decoration:none;
}
a:hover{
color:#333333;
}a:active{
color:#FF0000;
}a:visted{
color:#333333;
}
.active{
text-decoration:underline;
color:#CC0000;
font-size:18px

}
ul li{
list-style-type:none;
display:inline;
font-family:Arial, Helvetica, sans-serif;
font-style:normal;
font-size:16px;
font-weight:680;
}
.body{
	background-color:#FFFFFF;
	overflow: scroll;
}
.footer{
background-color:skyblue;

	border-radius: 0px 0px 4px 4px;
	height: 27px;


}
.h{
	font-family: century gothic;
	font-style:italic;
}
#allform{
	border: 2px solid skyblue;
}
#loginform{
	border: 2px solid skyblue;
}
